@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body{
  background-color: #211C84;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: calc(100vh - 100px);
  max-width: 100vw;
  margin: 100px 0 0 0;
}

button{
  font-weight: 400;
}

.App {
  text-align: center;
}

.time{
  font-family: 'Work Sans';
  font-weight: 700;
  font-size: 150px;
  color: #e4dcf8;
  margin: 15px 0 10% 0;
}

.button-startStop {
  background: #e4dcf8;
  border: 1px solid #e4dcf8;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 100) 1px 3px 10px;
  box-sizing: border-box;
  color: #7A73D1;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  min-height: 40px;
  padding: 12px 54px;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  transition: transform .3 cubic-bezier(.36, .37, .76, .75);
}

.button-startStop:hover, .button-startStop:active {
  background-color: initial;
  background-position: 0 0;
  color: #e4dcf8;
}

.button-startStop:active {
  color: #d3b7ff;
  border: 1px solid #d3b7ff;
  opacity: .6;
}

.button-settings {
  background: #e4dcf8;
  border: 1px solid #e4dcf8;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 100) 1px 3px 10px;
  box-sizing: border-box;
  color: #7A73D1;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  min-height: 40px;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-settings:hover, .button-settings:active {
  background-color: initial;
  background-position: 0 0;
  color: #e4dcf8;
}

.button-settings:active {
  color: #d3b7ff;
  border: 1px solid #d3b7ff;
  opacity: .6;
}


.back-settings{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(4px);
  background-color: #211c8425;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.titleSettingsScreen{
  font-size: xx-large;
  font-weight: 700;
}

.container-settings{
  position: relative;
  background-color: #e4dcf8;
  width: 550px;
  height: auto;
  padding: 1.5rem;
  border-radius: 0px;
  animation-name: modal;
  animation-duration: .5;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .4);
  z-index: 10;
}

@keyframes modal {
  from {
    transform: translateY(50vh);
  }

  to{
    transform: translateY(0);
  }
}

.close{
  transition: transform 1s cubic-bezier(0, -0.42, 1, -0.41);
  transform: translateY(60vh);
}

.close-settings{
  background-color: #e4dcf8;
  position: absolute;
  border: #e4dcf800;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}